@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Playball');


@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');


/*INDEX*/
body{
font-family: Arial, Helvetica, sans-serif;
}
/*estilos del header*/


.navbar-header img{
    width:100%;

}
.logo_izq{
    background-color: #fff;
    float:left;
    width:40%;
    border-radius:500px;

  
}
.logo_der{
    margin-left:40%;
}
.logo_der a {
    text-decoration:none;
    font-family: 'Playball', cursive;
    font-size:40px;

}






#headerMasterP {
    background: #11999E;
    border-bottom: 2px solid #c0c0c0;
    padding-left:8%;
    padding-right:8%;
    margin-bottom:10%;
    
}

#headerMasterP a{
    color: #FFF;
}

#headerMasterP a:hover {
    background: #11999E;
}

#headerMasterP span {
    margin-right: 10px;
}

#headerMasterP div div:first-child span{
    margin-right: 0px;
}

/*Css home*/


#centro {
    margin-top: 4%;
    padding-left: 8%;
    background-color: #11999E;

}
     



#centro ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto; /*hace respetar el espacio block*/

}

#centro ul  a{
    display: block;

    color: #000;

    padding: 12px 17px;
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
}
#centro li{
 
    background-color: #fff;
}

#centro > ul > li{
    float: left;
      

}
#centro ul li ul{
    display: none; /*hacer no visible*/
    position: absolute; /*amplia el segundo menu sin perjudicar el primero*/
    min-width:200px;
}

.submenu{
    width: 300px;
    border-bottom: 1px solid gray;
}

#centro li:hover > ul{ /*todos los li: hover que contengan ul*/
    display: block;
}
#centro .uls .submenu a:hover{
    background-color: rgba(18, 17, 19, 0.21);
}


.border{
    border-right: 1.5px solid gray;
}


/*css slit*/
#princiPB {
    border-top:3px solid gray;
    margin-top: 6.5%;
    margin-left:0;
    margin-right:0;
    width:100%;
    padding: 1px;
    background: #11999E;
  
   
}

#ComoFunciona {
    padding-top: 20px;
    padding-left:8%;
    padding-right:8%;
}
.titleHome{
    background: #11999E;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
}
.titleHome a{
    color: white;
    text-decoration: none;
}
.titleHome:hover {
    background-color: #3498DB;
}

.titleHome:hover a{
    color: #FFF;
    text-shadow: 2px 2px 2px black; 
}
#ComoFunciona>div>div {
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    height: 500px;
    margin: 30px;
    background-color: #FFFFFF;
    border-bottom-right-radius: 15px;
}
#ComoFunciona>div>div p {
    padding: 20px;
    padding-top: 40px;
    color: black;
    font-size: 18px;
    line-height:1.3; 
}
#ComoFunciona>div>div a{

}
#ComoFunciona img{
    margin-top: 30px;
    border-radius:50%;
    border: 1px solid #b0b0b0;
    height: 200px;
    width: 200px;
    background: yellow;
}

/*frases*/
.frases{
    background-color: rgba(9, 8, 9, 0.07);
    border-top:  2px solid gray;
    border-bottom: 1.5px solid gray;
    clear:both;
}
.frases_sub {
    margin-left: 8%;
    margin-right: 8%;
}
.frases_sub h3{
    font-size: 16px;
    color:#333;
}
.frases_izquierda, .frases_derecha, .frases_centro{

   margin-bottom:  7px;
   text-align: center;
 
}
h3{
    margin-bottom: 7px;
    font-weight:bold;
}

.frases_izquierda{
    padding-left: 8%;
    float: left;
	width: 35%;
	min-height:50px;
    margin: auto;
    padding: 10px;
    border-right: 1.5px solid gray;
}

.frases_derecha{
    float: right;
    width: 30%;
    padding-right: 8%;
	min-height:50px;
	padding:5px;

    border-left:  1.5px solid gray;
    margin: auto;
}
.frases_centro{
    margin-left: 35%;
    margin-right: 35%;
    min-height:50px;
	padding:5px;
}
/*diseño*/


/*garantia*/
.garan{
    background-color: #11999E;
    text-align:center; 
    padding-top:2.5%;  
    padding-bottom:2.5%; 
}
.garan h6{
    font-size:30px;
   
    font-family: 'Francois One', sans-serif;
    color:#fff;
}
.garan p{
    font-size:16px;
    color:#fff;
}


/*imagen*/
.seg_con{
    background-image:url("http://www.areacomunicacion.cl/wp-content/uploads/2015/09/fondo-2.png");
    background-size:100%;
    background-repeat:no-repeat;
    width:100%;
    height:450px;
}
.seg_con div{
    padding-top:7%;
    padding-left:5%;
}
.seg_con h5{
    margin-left:3%;
   font-size:35px;
   color:#09A599;
   text-shadow:1px 1px 1px #fff;
   font-family: 'Hammersmith One', sans-serif;


}
.por{
    list-style-image:url("https://cdn1.iconfinder.com/data/icons/color-flat/431800/01-20.png");
}
.seg_con span{
   font-size:18px;
}

.boton {

    padding: 10px; /*espacio alrededor texto*/
    background-color:#11999E; /*color botón*/
    color: #ffffff; /*color texto*/
    font-weight:bold;
    font-size:18px;
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/

}
.seg_con > span {
margin-left:8%;

}

/*como funciona*/

.como_funciona {
    clear:both;
    margin-top:2%;
    padding-left:8%;
    padding-right:8%;

}
.fun_izq{
    float:left;
    width: 32%;
  
    text-align:center;
}
.fun_der{
    float:right;
    width:32%;
    
       text-align:center;
}
.fun_cen{
    margin-left:35%;
    margin-right:35%;
 
    text-align:center;
}
.como_funciona img{
    width:180px;

}
.como_funciona h4{
    font-weight:bold;
    font-size:18px;
}
.como_funciona p {
    margin-left:6%;
    margin-right:6%;
}
/*trabajadores*/

.con_trabajadores{
    clear:both;
        background-color:#F9F9F9;

     padding-bottom:8.5%;
}
.con_izq {
    float: left;
    width:65%;
    margin-left:4%;
    height:40%;
}
.con_izq img{
    width:720px;
    height:40%;
}
.con_der{
    margin-left:65%;
    margin-right:8%;
    text-align:center;

}
.con_der h5{
   padding-top:25%;
   font-size:35px;
   color:#09A599;
   text-shadow:1px 1px 1px #fff;
   font-family: 'Hammersmith One', sans-serif;


}
.con_der > nav > ul > li > span{
    color:#000;
}
.con_der nav{
    padding-bottom:6%;
   
}

/*publiccidad*/
.publicidad{
    border:1px solid red;
    margin-top:1%;
    min-height:80px;
    padding-left:8%;
    padding-right:8%;
}
.publicidad li {
    float:left;
    margin-right:5%;
}
.pg{
    width:60px;
}
.maestro{
    width: 200px;
}
.sodimac{
    width:60px;
}





















/*Footer*/
footer {
    border: 1px solid white;
    background: #40514E;
    padding: 2%;
    clear:both;
}

footer p, span {
    color: #FFF;
}

footer p {
    text-align: center;
}

footer a:hover {
    background: #11999E;
}

#Terminos {
    padding: 3% 10%;
}

    #Terminos h2 {
        text-align: center;
    }

.terminosP {
    color: black;
    text-align: justify;
}

/*Servicios*/
#botonesTrabajo{
    text-align: center;
    padding: 18px 30px;
    margin: 10px;
    font-weight: 600;
    border-radius: 16px;
    background-color: rgb(176,224,230);
}

#Servicio {
    padding-top: 0px;
}

#Servicio div div {
    padding-top: 20px;
    height: 500px;
    margin: 30px;
}

#Servicio div div p {
    padding-top: 20px;
    color: black;
    text-align: justify;
}

#Servicio img {
    border: 2px solid black;
}


.CajaRadio{
    font-size:15px;
}
/*QUIENES SOMOS*/
#gaQuienesSomos{
    margin-top: 40px;
}
#gaQuienesSomos p{
    text-align: justify;
}

/*COMO FUNCIONA*/
#ComoFunciona1{
    padding-top:20px;
    width:80%;
}
#ComoFunciona1 p {
   color: black;
   text-align: justify;
}

/*CSS PARA INICIO DE SESION*/

#gaIniciarSesion{
    background: url(http://servioptimus.com/wp-content/uploads/2016/06/1-1100-620x310.jpg);
    margin-top: 50px;
    height: 400px;
}
#gaIniciarSesion>div>div{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0,0,0,0.7);
    color: white;
}
#gaIniciarSesion label, #RegistarID label{
    font-size: 25px;
}
#gaIniciarSesion a, #RegistarID a {
    text-decoration: underline;
    color: #14FFEC;
}
#gaIniciarSesion a:hover, #RegistarID a:hover {
    color: #2980B9;
}
.seBotonIniciar {
    width: 100%;
    background-color: #2980B9;
    border: none;
    height: 45px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
.seBotonIniciar:hover {
    background-color: #07689F;
}
/*
#gaIniciarSesion>div{
    margin-top: 60px;
    width: 450px;
    padding: 25px;
    background-color: rgba(0,0,0,0.5);
}
#gaIniciarSesion a{
    color: white;
    margin-left: 20px;
}
@media screen and (max-width: 446px;){
    #gaIniciarSesion>div{
        width: 350px;
    }
}
@media screen and (max-width: 330px){
    #gaIniciarSesion>div{
        width: 320px;
    }
}
*/
#gaIniciarSesion .glyphicon{
    top: 0;
}


/*CSS  REGISTARSE*/
#RegistarID {
    margin-left: -5px;
    background-image: url("../Imagenes/FondoR.jpg");
    background-size: 1500px;
    color: white;
}
#RegistarID > div > div > div:last-child {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0,0,0,0.7);
}
#RegistarID > div > div > div > p {
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 300px;
    background-color: rgba(255,255,255,0.6);
    font-size: 20px;
    color: #101010;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}
#RegistarID > div {
    height: 500px;
}
#RegistarID .glyphicon {
    top: 0;
}
.fixedInputRadiusDoble{
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*TrabajaConNosotros*/

#header_trabajaConNosotros {
    background-image: url("http://www.arjen.com.pe/wp-content/uploads/2017/02/trabaja_con_nosotros-3.png");
    background-size: cover;
    min-height: 650px;
    border: 1px solid white;
}

    #header_trabajaConNosotros h1 {
        margin-top: 25px;
        margin-left: 25px;
        padding: 30px;
        font-size: 100px;
        color: #fff;
        font-weight: 300;
        background-image: url("https://s-media-cache-ak0.pinimg.com/originals/9c/c1/11/9cc111488fb6e022156971098a800ef6.jpg");
        width: 800px;
        box-shadow: 10px 10px 5px #888888;
        text-align: center;
    }

#nav_trabajaConNosotros {
    background-image: url("http://ayminegra.com/wp-content/uploads/2016/09/franja-background.jpg");
    color: #191970;
    font-size: 35px;
    text-align: center;
    padding: 15px;
}

#section_trabajaConNosotros {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 0px 20px 0px 20px;
}

#BuscamosTalentos {
    background-image: url("http://www.leroymerlin.es/img/r25/32/3209/320904/infantil_tiny_tots_diplo/17280956_fp1.jpg");
    margin-top: 5px;
    padding: 10px;
}

    #BuscamosTalentos p {
        text-align: justify;
        padding: 0px 20px 0px 20px;
        font-size: 23px;
        margin-top: -20px;
    }

#Postula {
    margin-left: 89%;
    margin-top: 6px;
}

    /*CSS  POSTULA*/
#body_rellenar_informacion {
    background-image: url("https://wallpaperscraft.com/image/background_leaf_light_bright_colors_18449_602x339.jpg");
    margin: -10px -10px -80px -10px;
    padding: 10px 0px 10px 0px;
}

#derecha {
    width: 50%;
    float: left;
    padding-left: 15%;
}

    #derecha h1 {
        width: 100px;
        margin: -42px 0px 0px 40px;
    }

#izquierda {
    width: 50% float : right;
    text-align: right;
    padding: 7px 15% 7px 0px;
}

#article_izquierda {
    width: 35%;
    float: left;
    padding-left: 15%;
    padding-bottom: 60px;
}

    #article_izquierda > div {
        margin-top: 10px;
    }

.label {
    display: inline-block;
    width: 25%;
    font-weight: bold;
}

.input {
    display: inline-block;
}

#article_derecha {
    width: 65% float : right;
}

    #article_derecha > div {
        margin-top: 10px;
    }

.label_b {
    display: inline-block;
    width: 14%;
    font-weight: bold;
}

#guardar_informacion {
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: #E01F38;
    border-color: #ca1c32;
    margin-top: 15px;
    margin-left: -9%;
}

#Documentacion {
    padding-left: 15%;
}
		