*{
    margin: 0;
    padding: 0;
}

/*estilos del header*/
body {
    font-family: Arial;
    background: #F3F6F6;
}

#headerMasterP {
    background: #40514E;
    
}

#headerMasterP a{
    color: #FFF;
}

#headerMasterP a:hover {
    background: #11999E;
}

#headerMasterP span {
    margin-right: 10px;
}

#headerMasterP div div:first-child span{
    margin-right: 0px;
}

/*Css home*/

#princiPB {
    max-width:100%;
    padding: 1px;
}

#ComoFunciona {
    padding-top: 20px;
}

#ComoFunciona div div {
    padding-top: 20px;
    border: 1px solid #4cff00;
    height: 500px;
    margin: 30px;
}
#ComoFunciona div div p{
    padding-top: 20px;
}
#ComoFunciona img{
    border-radius:50%;
    border: 2px solid black;
}